.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(100, 221, 237);
  width: 100vw;
  height: 100vh;
}
.btn{
  margin-top: 30px;
  padding: 6px 10px;
  width: 100px;
  border-radius: 8px;
  border-width: 0;
  background-color: rgba(0, 0, 255, 0.55);
  color: white;
  cursor: pointer;
  transition: .10s;
  font-weight: 700;
  text-decoration: none;
}
.btn:hover{
  background-color: rgba(0, 0, 255, 0.753);
}
.wrapper{
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bar{
  width: 600px;
}